# Jetbrains
/*.iml
/.idea

# Bearsampp
/.dev

# Visual Studio
.vscode/
.vs/
.vsc/

# ignore "current" directories
/**/current

# Qodo
/.qodo

# Gradle Cache
/.gradle
build

# Gradle Wrapper (using system gradle instead)
/gradle/
gradlew
gradlew.bat
