# Jetbrains
/*.iml
/.idea

# Neard
/.dev

# Visual Studio
.vscode/
.vs/
.vsc/
/bin/lib/innosetup/app/Examples/64Bit.iss
/bin/lib/innosetup/app/Examples/64BitThreeArch.iss
/bin/lib/innosetup/app/Examples/64BitTwoArch.iss
/bin/lib/lessmsi/AddWindowsExplorerShortcut.exe
/bin/lib/innosetup/app/Examples/AllPagesExample.iss
/bin/lib/ant-contrib/ant-contrib.jar
/bin/lib/innosetup/app/Languages/Armenian.isl
/bin/lib/innosetup/app/Examples/MyDll/C#/Properties/AssemblyInfo.cs
/bin/lib/innoextract/license/Boost.LICENSE_1_0.txt
/bin/lib/innosetup/app/Languages/BrazilianPortuguese.isl
/bin/lib/innosetup/app/Languages/Bulgarian.isl
/bin/lib/innosetup/app/Languages/Catalan.isl
/bin/lib/innoextract/CHANGELOG.txt
/bin/lib/innosetup/app/Examples/CodeAutomation.iss
/bin/lib/innosetup/app/Examples/CodeAutomation2.iss
/bin/lib/innosetup/app/Examples/CodeClasses.iss
/bin/lib/innosetup/app/Examples/CodeDlg.iss
/bin/lib/innosetup/app/Examples/CodeDll.iss
/bin/lib/innosetup/app/Examples/CodeDownloadFiles.iss
/bin/lib/innosetup/app/Examples/CodeExample1.iss
/bin/lib/innosetup/app/Examples/CodePrepareToInstall.iss
/bin/lib/innosetup/app/Compil32.exe
/bin/lib/innosetup/app/Examples/Components.iss
/bin/lib/composer.phar
/bin/lib/innosetup/app/Languages/Corsican.isl
/bin/lib/innosetup/app/Languages/Czech.isl
/bin/lib/innosetup/app/Languages/Danish.isl
/bin/lib/innosetup/app/Default.isl
/bin/lib/innosetup/app/Languages/Dutch.isl
/bin/lib/innosetup/app/Examples/Example1.iss
/bin/lib/innosetup/app/Examples/Example2.iss
/bin/lib/innosetup/app/Examples/Example3.iss
/bin/lib/innosetup/app/Languages/Finnish.isl
/bin/lib/innosetup/app/Languages/French.isl
/bin/lib/innosetup/app/Languages/German.isl
/bin/lib/hashmyfiles/HashMyFiles.chm
/bin/lib/hashmyfiles/HashMyFiles.exe
/bin/lib/hashmyfiles.zip
/bin/lib/innosetup/app/Languages/Hebrew.isl
/bin/lib/innosetup/app/Languages/Icelandic.isl
/bin/lib/innoextract/innoextract.exe
/bin/lib/innoextract/license/innoextract.LICENSE.txt
/bin/lib/innoextract/doc/innoextract.txt
/bin/lib/innoextract.zip
/bin/lib/innosetup.exe
/bin/lib/innosetup/app/isbunzip.dll
/bin/lib/innosetup/app/isbzip.dll
/bin/lib/innosetup/app/ISCC.exe
/bin/lib/innosetup/app/ISCmplr.dll
/bin/lib/innosetup/tmp/iscrypt.ico
/bin/lib/innosetup/tmp/isdonate.bmp
/bin/lib/innosetup/app/ISetup.chm
/bin/lib/innosetup/app/islzma.dll
/bin/lib/innosetup/app/islzma32.exe
/bin/lib/innosetup/app/islzma64.exe
/bin/lib/innosetup/tmp/ismail.bmp
/bin/lib/innosetup/app/ISPP.chm
/bin/lib/innosetup/app/ISPP.dll
/bin/lib/innosetup/app/ISPPBuiltins.iss
/bin/lib/innosetup/app/Examples/ISPPExample1.iss
/bin/lib/innosetup/app/Examples/ISPPExample1License.txt
/bin/lib/innosetup/app/isscint.dll
/bin/lib/innosetup/app/isunzlib.dll
/bin/lib/innosetup/app/iszlib.dll
/bin/lib/innosetup/app/Languages/Italian.isl
/bin/lib/innosetup/app/Languages/Japanese.isl
/bin/lib/innosetup/app/Examples/Languages.iss
/bin/lib/lessmsi/LessIO.dll
/bin/lib/lessmsi/lessmsi.core.dll
/bin/lib/lessmsi/lessmsi.exe
/bin/lib/lessmsi/lessmsi.exe.config
/bin/lib/lessmsi.zip
/bin/lib/lessmsi/lessmsi-gui.exe
/bin/lib/lessmsi/lessmsi-gui.exe.config
/bin/lib/innoextract/license/liblzma.COPYING.txt
/bin/lib/lessmsi/libmspackn.dll
/bin/lib/innoextract/license/libstdc++.COPYING.RUNTIME.txt
/bin/lib/innoextract/license/libstdc++.COPYING3.txt
/bin/lib/innosetup/app/Examples/License.txt
/bin/lib/innosetup/app/license.txt
/bin/lib/lessmsi/mspack.dll
/bin/lib/innosetup/app/Examples/MyDll/C/MyDll.c
/bin/lib/innosetup/app/Examples/MyDll/C#/MyDll.cs
/bin/lib/innosetup/app/Examples/MyDll/C#/MyDll.csproj
/bin/lib/innosetup/app/Examples/MyDll/C/MyDll.def
/bin/lib/innosetup/app/Examples/MyDll.dll
/bin/lib/innosetup/app/Examples/MyDll/Delphi/MyDll.dpr
/bin/lib/innosetup/app/Examples/MyDll/C/MyDll.dsp
/bin/lib/innosetup/app/Examples/MyDll/C#/MyDll.sln
/bin/lib/innosetup/app/Examples/MyProg.chm
/bin/lib/innosetup/app/Examples/MyProg.exe
/bin/lib/innosetup/app/Examples/MyProg-ARM64.exe
/bin/lib/innosetup/app/Examples/MyProg-x64.exe
/bin/lib/innosetup/app/Languages/Norwegian.isl
/bin/lib/innosetup/app/Examples/MyDll/C#/packages.config
/bin/lib/innosetup/app/Languages/Polish.isl
/bin/lib/innosetup/app/Languages/Portuguese.isl
/bin/lib/innoextract/README.txt
/bin/lib/innosetup/app/Examples/Readme.txt
/bin/lib/hashmyfiles/readme.txt
/bin/lib/innosetup/app/Examples/Readme-Dutch.txt
/bin/lib/innosetup/app/Examples/Readme-German.txt
/bin/lib/innosetup/app/Languages/Russian.isl
/bin/lib/innosetup/app/Setup.e32
/bin/lib/innosetup/app/SetupClassicIcon.ico
/bin/lib/innosetup/app/SetupLdr.e32
/bin/lib/innosetup/app/Languages/Slovak.isl
/bin/lib/innosetup/app/Languages/Slovenian.isl
/bin/lib/innosetup/app/Languages/Spanish.isl
/bin/lib/innosetup/app/Languages/Turkish.isl
/bin/lib/innosetup/app/Languages/Ukrainian.isl
/bin/lib/innosetup/app/Examples/UnicodeExample1.iss
/bin/lib/innosetup/app/Examples/UninstallCodeExample1.iss
/bin/lib/innoextract/VERSION.txt
/bin/lib/innosetup/app/whatsnew.htm
/bin/lib/lessmsi/wix.dll
/bin/lib/lessmsi/wixcab.dll
/bin/lib/innosetup/app/WizClassicImage.bmp
/bin/lib/innosetup/app/WizClassicImage-IS.bmp
/bin/lib/innosetup/app/WizClassicSmallImage.bmp
/bin/lib/innosetup/app/WizClassicSmallImage-IS.bmp
