# Eclipse
/.settings
/.buildpath
/.project
/.jsdtscope
/*.launch

# Jetbrains
/*.iml

# Neard
/.dev
/bin
/.idea/.gitignore
/.idea/dev.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/git_toolbox_prj.xml
